<!DOCTYPE html>
<html manifest="manifest.appcache">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>oTranscribe</title>

    <%= require('html-loader!./html/meta-tags.htm').default %>

	<link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="prefetch" type="application/l10n" href="data.ini" />
</head>

<body>
    <script type="application/javascript" src="vosk.js"></script>
    <script type="text/javascript" src="l10n.js"></script>

    <% if (!APPLICATION) { %>
    <script src="./jakecache.js" type="text/javascript" charset="utf-8"></script>
    <% } %>

    <%= require('html-loader!./html/topbar.htm').default %>

    <%= require('html-loader!./html/about.htm').default %>

    <%= require('html-loader!./html/textbox.htm').default %>

    <%= require('html-loader!./html/settings.htm').default %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    
    <%= require('html-loader!./html/google-analytics.htm').default %>

</body>

</html>
