#textbox {
    @include noselect(text);
    resize: none;
    
    font-size: 15px;
    line-height: 20px;
    font-family: Arial;
    padding: 5px;
    margin: 50px auto;
    width: 50%;
    display: block;
    border: none;
    padding: 50px 25% 5px 25%;
    outline: none;
    
    background: white;
    box-shadow: 0px 0px 10px #CCC;
    width: 600px;
    padding: 50px;
    min-height: 700px;
    overflow-y: hidden;
    
    color: $dark;
    
    b, strong {
        font-weight: bold;
    }
    i, em {
        font-style: italic;
    }
    
    .timestamp {
        color: $accent;
        border-radius: 5px;
        border-left: 2px solid $accent;
        border-right: 2px solid $accent;
        padding: 0 3px;
        margin: 0 3px;
        &:hover {
            background: lighten($accent, 50%);
            cursor: pointer;
        }
        &:active {
            background: lighten($accent, 40%);
        };
    }
}

.textbox-container {
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 36px);
    background: #eee;
    top: 36px;
    width: 100%;
}

#partial-container {
    display: flex; 
    justify-content: center;
    white-space: nowrap;
}

#partial {
    width: 25%;
    min-width: 350px;
    color: #4C6777;
    display: inline-block;
    overflow-x: hidden;
    height: 1rem;
    direction: rtl;
    text-align: center;
}

#tips {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    div.content {
        max-width: 400px;
        border: 2px solid #BBB;
        display: inline-block;
        border-radius: 4px;
        padding-top: .25rem;
        padding-right: .25rem;
    }

    div.button {
        padding: .25rem;
        display: flex;
        justify-content: flex-end;

        button {
            cursor: pointer;
        }
    }

    div.text {
        padding: 1rem;
        line-height: 1.5rem;
        color: darken(#BBB, 20%);

        &:hover {
            color: black;
        }
    }
}

